extends layout

block content
    h1 Hello from person.pug file

block content2
    h2 The number of people is #{people.length}
    // p1 Names of people : #{Object.entries(people).filter(x => x.name)} it doesnt work because people is object, I tried to convert it into array, but i couldnt. Actually, pug doesnt has map, filter functions.
    each person in people
        //h4 #{person.name person.age} doesnt work
        h4 #{person.name} 
        h4 #{person.age} #{person.meetups}
        h4 #{person._id}
        hr
        
    //dont write from this line 
    